// bower:scss
//
html,
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
body {
  padding: 0;
  padding-top: 10px;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #0288d1;
}
.titleBox {
  color: #fff;
  text-align: center;
  h1 {
    font-size: 600%;
    font-weight: bold;
    -webkit-animation: floating-text 2s ease alternate infinite;
     -moz-animation: floating-text 2s ease alternate infinite;
      -ms-animation: floating-text 2s ease alternate infinite;
       -o-animation: floating-text 2s ease alternate infinite;
          animation: floating-text 2s ease alternate infinite;
  }
  p {
    color: #b3e5fc;
    font-size: 150%;
  }
}
.bioBox {
  color: #b3e5fc;
  p {
    font-size: 150%;
  }
  a{
    color: #FFFFFF;
  }
}
.socialBox {

  .socialButton {
    background-color: #03a9f4;

    height: 250px;
  }
}
.sectionTitle {
  color: #b3e5fc;
  margin-bottom: 20px;
  h1 {
    font-weight: bold;
    font-size: 350%;
  }
  p {
    font-size: 150%;
  }
}
.projectBox {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  height: 175px;
  border-radius: 2px;
  width: 100%;
  dt {
    color: #212121;
  }
  dd {
    color: #727272;
  }
  button {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  color: #fff;
}

@-webkit-keyframes floating-text {
  0% {
    -webkit-transform: translateY(.1em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .3em .2em rgba(0,0,0,.3);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .5em .5em rgba(0,0,0,.3);
  }
}
@-moz-keyframes floating-text {
  0% {
    -moz-transform: translateY(.1em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .3em .2em rgba(0,0,0,.3);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .5em .5em rgba(0,0,0,.3);
  }
}
@-ms-keyframes floating-text {
  0% {
    -ms-transform: translateY(.1em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .3em .2em rgba(0,0,0,.3);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .5em .5em rgba(0,0,0,.3);
  }
}
@-o-keyframes floating-text {
  0% {
    -o-transform: translateY(.1em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .3em .2em rgba(0,0,0,.3);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .5em .5em rgba(0,0,0,.3);
  }
}
@keyframes floating-text {
  0% {
    transform: translateY(.1em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .3em .2em rgba(0,0,0,.3);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.3),
      0 .5em .5em rgba(0,0,0,.3);
  }
}
