html,body{
  margin:0;
}

canvas{
  display:block;
  vertical-align:bottom;

}

#particles-js{
  height:98px;
  background-color: #000;
}


#content
{
  position: absolute;
  z-index: 1;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}


#title
{
    color: #FFF;
}
